@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&display=swap');

.digitizing-service-card{
    font-family: 'Karla', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #333131;
    border-radius: 8px;
    color: white;
    padding: 20px;
    margin-bottom: 15px;
    width: 100%;
}
.our-service-img{
    width: 100%;
}
.our-service-img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.our-service-name h1{
    font-size: 30px;
    font-weight: 400;
    margin: 10px 0px;
    color: #eda232;
}
.our-service-description p{
    font-size: 20px;
    font-weight: 300;
}